<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <img src="static/EBay_logo.png" width=100px>
    <title>Alma's Ebay</title>
    <div class = "button">
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/cart">Cart</a></div>
</head>
<body>
    <div>
    <img src="static/img3.jpg" width=400px>
    <h2>Jaeger Sports J-Bands Baseball Softball Pitching Resistance Training Bands Adult</h2>
    <h2>The final price: US $30.99/ea</h2>
    <a href="/product">To remove</a></div>
</body>
</html>