<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <img src="static/EBay_logo.png" width=100px>
    <title>Alma's Ebay</title>
    <div class = "button">
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/cart">Cart</a></div>
</head>
<body>
<h1>Alma's Ebay Shop</h1>
<p>Welcome! in Alma's Ebay Shop you can purchase necessary and beautiful products and make your life condition better!</p>
<h1>The things we sell: </h1>
<div>
<img src="static/img3.jpg" width=400px></div>
<div>
<img src="static/img2.jpg" width=400px></div>
<div>
<img src="static/img1.jpg" width=400px></div>

</body>
</html>