<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Alma's Ebay</title>
    <img src="static/EBay_logo.png" width=100px>
    <div class = "button">
    <title>Alma's Ebay</title>
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/cart">Cart</a></div>
</head>
<body>
    <div>
    <img src="static/img1.jpg" width=400px>
    <h2>PUMA Women's Carina Leather Sneakers, Price:
US $27.99<h2>
    <a href="/cart">Add to cart</a></div>
    <div>
    <img src="static/img2.jpg" width=400px>
    <h2>Leica Camera Q2 Black, Price:
US $3,700.00</h2>
    <a href="/cart">Add to cart</a></div>
    <div>
    <img src="static/img3.jpg" width=400px>
    <h2>Jaeger Sports J-Bands Baseball Softball Pitching Resistance Training Bands Adult, Price:
US $30.99/ea</h2>
    <a href="/cart">Add to cart</a></div>
</body>
</html>
